<!DOCTYPE html>
<html>
<head>
    <title>Yapster - {{ type }} Not Found</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'yap/css/yap_default.css' %}"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.2.1/moment-timezone.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jplayer/2.6.4/jquery.jplayer/jquery.jplayer.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <font face="universe"></font>
    <link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="header" class="tiny_able">
    <a href="http://www.yapster.co/" target="_blank">
        <div id="logo_container" class="tiny_able">
            <span id="logo" class="icon tiny_able"></span>
        </div>
    </a>
    <a href="https://itunes.apple.com/us/app/yapster/id899766051" target="_blank">
        <div id="app_store_icon_container" class="tiny_able">
            <span id="app_store_icon" class="icon tiny_able">Download App</span>
        </div>
    </a>
</div>
<div id="content" class="thinable tiny_able wide_able">
    <div id="main_content">
        <div id="player_container" class="thinable tiny_able">
            <div id="first_line_not_found">The {{ type }} is not found :/</div>
            <div id="second_line_not_found">Download <a id="link_to_app_store" href="https://itunes.apple.com/us/app/yapster/id899766051" target="_blank">Yapster app</a> to find more content</div>
        </div>
        <div id="slideshow_container" class="thinable tiny_able" style="display: none">
            <img id="slideshow_image1" class="slideshow_image" src="{% static 'yap/images/yapster_slideshow1.jpg' %}" style="display: initial"/>
            <img id="slideshow_image2" class="slideshow_image" src="{% static 'yap/images/yapster_slideshow2.jpg' %}"/>
            <img id="slideshow_image3" class="slideshow_image" src="{% static 'yap/images/yapster_slideshow3.jpg' %}"/>
            <img id="slideshow_image4" class="slideshow_image" src="{% static 'yap/images/yapster_slideshow4.jpg' %}"/>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'yap/js/yap.js' %}"></script>
</body>
</html>
